name: DevSecOps CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-scan-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devsecops-demo:latest .

    - name: Trivy scan
      uses: aquasecurity/trivy-action@0.20.0
      with:
        image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/devsecops-demo:latest
        format: json
        output: trivy-report.json
        severity: CRITICAL,HIGH
        exit-code: 1
      continue-on-error: true 
    - name: Upload Trivy report as artifact
      uses: actions/upload-artifact@v4
      with:
        name: trivy-scan-report
        path: trivy-report.json

    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/devsecops-demo:latest
